.wrapper {
	margin: 100px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.container {
	max-width: 1000px;
	min-width: 320px;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #dadada;
}

.btnBody {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	padding: 30px;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
					inset -2px -2px 5px rgba(255, 255, 255, 0.5);
	@media (max-width: 479px) {
		padding: 20px;
	}
}

.btn {
	padding: 15px 40px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid #000000;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.6);
	transition: all 0.3s ease 0s;

	@media (max-width: 575px) {
		padding: 10px 30px;
	}

	@media (max-width: 479px) {
		padding: 10px 15px;
		font-size: 16px;
	}

	&:hover {
		background-color: #aaa9a9;
	}

	&:active {
		transform: scale(.9);
	}
}

.btn1{
	background-color: cyan ;
}

.btn2 {
	background-color: aquamarine;
}

.btn3 {
	background-color: darkseagreen;
}

.clearBody {
	margin: 5px 0;
	padding: 10px;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
					inset -2px -2px 5px rgba(255, 255, 255, 0.5);
}
.btnClear {
	font-size: 17px;
	font-weight: 600;
	padding: 10px 30px;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid #000000;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.6);
	transition: all 0.3s ease 0s;

	@media (max-width: 479px) {
		padding: 10px 20px;
		font-size: 16px;
	}

	&:hover {
		background-color: #aaa9a9;
	}

	&:active {
		transform: scale(.9);
	}
}

.logBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	background-color: rgb(205, 207, 205);
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
					inset -2px -2px 5px rgba(255, 255, 255, 0.5);
	@media (max-width: 479px) {
		margin-left: 6px;
		width: 94%;
	}
}

.logTitle {
	margin: 0;
	padding: 10px 0 20px 0;
	align-self: center;
}