.body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 7px;
	padding: 5px;
	background-color: #e6e1e1;
	box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1),
					inset -2px -2px 5px rgba(255, 255, 255, 0.5);
}